# virtual environment
env

# compressed file
*.tar
*.rar
*.zip

# pycache
__pycache__

# notebook
.ipynb_checkpoints 

#PaddleOCR
PaddleOCR

# GG Nest Audio samples
gg

# color classifier
test
train
*.h5