# virtual environment
env

# compressed file
*.tar
*.rar
*.zip

# pycache
__pycache__

# notebook
.ipynb_checkpoints

#PaddleOCR
PaddleOCR

#PaddleOCR release/2.5
paddle25

# color classifier
test
train
colors

# ml model
*.h5
*.sav

# pgnet model
e2e_server_pgnetA_infer
